@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #6D6D6D;
    --bg-primary: #ececf3;
    --bg-secondary: #E0E0E7;
    --primary: #d23232;
    --secondary: #d232320D;
  }
}

@layer utilities{
  html {
    font-size: 62.5%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;

    }

    body {
      @apply bg-bg-primary
    }
    
    .max-container {
      max-width: 1440px;
      margin: 0 auto;

      @apply px-custom;
  }

  h2 {
    font-size: clamp(3rem, 2.8286rem + 0.5357vw, 3.6rem);
  }

  h3 {
    font-size: clamp(2.2rem, 2.0286rem + 0.5357vw, 2.8rem);
  }

  h4{
    font-size: 1.8rem;
    font-weight: 500;
  }

  /* button {
    font-size: 1.6rem;
    padding: 0.5em 1.5em;
    outline: none;
    border: none;
    @apply rounded-xl;
    font-weight: 200;
    
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  button:hover {
    transform: translateY(-0.1em);

    -webkit-box-shadow: 0px 0px 15px 1px var(--primary);
    -moz-box-shadow: 0px 0px 15px 1px var(--primary);
    box-shadow: 0px 0px 15px 1px var(--primary);
  } */
}
